.hidden {
			display: none;
		}
		.topnav {
			background-color: rgb(100, 100, 100);
			overflow: hidden;
		}
		.topnav button {
			float: left;
			border: none; 
			text-align: center;
			background-color: rgb(150, 150, 150);
			color: black;
			padding: 14px 16px;
		  text-decoration: none;
		  font-size: 20px;
		}
		.topnav button:hover {
			background-color: rgb(175, 175, 175);
			color: black;
		}
		.topnav button.active {
			background-color: rgb(20, 20, 100);
			color: rgb(200, 200, 200);
		}
		.PGB {
			float: left;
			border: none; 
			text-align: center;
			margin: 10px;
			background-color: rgb(175, 175, 175);
			color: black;
			padding: 14px 16px;
		  text-decoration: none;
		  font-size: 20px;
		}
		.PGB:hover {
			background-color: rgb(200, 200, 200);
			color: black;
		}
		.show {
			background-color: rgb(160, 160, 160);
			padding: 20px;
			display: block;
			overflow: hidden;
		}
		.show h2 {
			text-decoration: none;
		}
		.warning {
			background-color: #c31d1d;
			padding: 1px;
		}
		.warning h3 {
			text-align: center;
		}
		body {
			background-color: #8287c4;
			font-family: Arial, sans-serif;
		}
		.UB {
			background-color: rgb(225, 225, 225);
			padding: 4px;
			margin: 6px;
			width: 70px;
			border: none;
		}
		.UB:hover {
			background-color: rgb(180, 180, 180);
		}
		.Upgrades {
			padding: 5px;
			width: 83px;
			background-color: #ababab;
		}
		SetUserNameTN {
			float: right;
		}
		.EMPB {
			background-color: rgb(225, 225, 225);
			border: round;
		}
		.EMPB:hover {
			background-color: rgb(215, 215, 215);
			border: round;
		}
.topnav .icon {
  display: none;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 700px) {
  .topnav button:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 700px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive button {
    float: none;
    text-align: left;
		width: 100%;
  }
	.topnav.responsive .inactive {
    float: none;
		display: block;
    text-align: left;
		width: 100%;
  }
	.topnav.responsive .active {
    float: none;
		display: block;
    text-align: left;
		width: 100%;
  }
	.topnav.responsive .hidden {
    float: none;
		display: none;
    text-align: left;
		width: 100%;
  }
}